<table class"table table-striped">
	<thead>
		<tr>
			<th>Location</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>
{{range .}}
	<tr>
		<td>{{.Location}}</td>
		<td>{{.Score}}</td>
	</tr>
{{ end }}
	</tbody>
</table>
